<div *ngIf="childSelectedRecipe">
  <h3>{{childSelectedRecipe.description}}</h3>
  <h3>Edit recipe</h3>
  <label>Enter Recipe Description:</label>
  <input [(ngModel)]="childSelectedRecipe.description">
  <label>Enter Recipe Ingredients:</label>
  <input [(ngModel)]="childSelectedRecipe.ingredients">
  <label>Enter Recipe Instructions:</label>
  <input [(ngModel)]="childSelectedRecipe.instructions">
  <button (click)="finishedEditing()" class="btn btn-primary btn-sm">Done</button>
  <button (click)="deleteRecipe()" class="btn btn-danger btn-sm">Delete</button>


</div>
