/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

body {
  background-color: #FCDDBB;
  color: #F79256;
}

#main-head {

}

.jumbotron {
  background-color: #7DCFB6
}

.wrapper {
  display: flex;
  align-items: stretch;
}

app-new-recipe {

}

.content-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
